.parallax [class*="px__"] {
  position: relative;
  height: 100vh;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover; }
  .parallax [class*="px__"]:nth-child(2n) {
    box-shadow: inset 0 0 1em #111; }
.parallax .px__landscape1, .parallax .px__landscape4 {
  height: 100vh; }
.parallax .px__landscape1 {
  background-image: url(../images/home_landscape1.jpg); }
.parallax .px__landscape2 {
  background-image: url(../images/home_landscape2.jpg); }
.parallax .px__landscape3 {
  background-image: url(../images/home_landscape3.jpg); }
.parallax .px__landscape4 {
  background-image: url(../images/home_landscape4.jpg); }

.parallax h2 {
  position: relative;
  top: 50%; }

.px__landscape1 h2, .px__landscape4 h2 {
  top: 20%; }

.px__landscape3 h2 {
  float: right; }

.hsContent h2 {
  color: #fff8de;
  padding: 10px 5px;
  font-size: 35px;
  line-height: 38px;
  margin-bottom: 12px;
  margin-left: 20px;
  margin-right: 20px; }
