<div id="main" class="jumbotron main-header">
  <div class="container photo-container ">
    <div class="row">
      <div class="col-lg-6">
        <img src="/images/profile.jpg" alt="My Self" class="img-thumbnail my-image">
        <h1>Sara Subijana</h1>
        <p>Software developer<br/> <em>@Sara_Subidon</em></p>
      </div>
      <div class="col-lg-6">
        <h2>&nbsp;</h2>
        <p class="coolText">"La batalla de la vida no siempre la gana el hombre más fuerte, o el más ligero, porque tarde o temprano, el hombre que gana es aquel que cree poder hacerlo."</p>
      </div>
    </div>
  </div>
  <div class="row headers-row">
    <div class="central">
      <div ng-click="loadContent('profile')">
        <span class="glyphicon glyphicon-leaf head-image green img-rounded"></span>
        <div class="head-image-text">Sobre mí</div>
      </div>
    </div>
    <div class=" central">
      <div ng-click="loadContent('education')">
        <span class="glyphicon glyphicon-book head-image yellow img-rounded"></span>
        <div class="head-image-text">Educación</div>
      </div>
    </div>
    <div class=" central">
      <div ng-click="loadContent('work')">
        <span class="glyphicon glyphicon-wrench head-image blue img-rounded"></span>
        <div class="head-image-text">Experiencia profesional</div>
      </div>
    </div>
    <div class="central">
      <div ng-click="loadContent('skills')">
        <span class="glyphicon glyphicon-stats head-image light-blue img-rounded"></span>
        <div class="head-image-text">Competencias</div>
      </div>
    </div>
  </div>
</div>
<div class="container marketing">
  
  <section id="summary" class="">
    <div class="container">
      <div class="summary">
        <h2 class="heading">{{header}}</h2>
        <div ng-repeat="content in cvContent">
          <p ng-show="content.type == 'text'" ng-bind-html="content.content_text">
          
          </p>
          <div ng-show="content.type == 'list'" ng-repeat="itemList in content.content_list" class="enumList">
            <li ng-bind-html="itemList.item"></li>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</div>