
<div id="main" class="jumbotron main-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="/images/profile.jpg" alt="My Self" class="img-thumbnail my-image">
            <h1>Sara Subijana</h1>
            <p>Software developer<br/> <em>@Sara_Subidon</em></p>
          </div>
          <div class="col-lg-6">
            <h2>&nbsp;</h2>
            <p>Porque la vida es sólo un cuento que hay que vivir en el momento </p>
          </div>
        </div>
      </div>
    </div>
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-5 col-md-4">
        <img src="/images/profile.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-7 col-md-8">
      <h1>Sara Subijana Gracia</h1>
      <h2>Software developer</h2>
    </div>
  </div>
  <div class="row cv-content" >
    <div class="col-xs-6 col-md-3 cv-menu">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{'active':tab.active == true}" ng-repeat="tab in tabs" ng-click="activateTab($index)">
          <a>{{ tab.name }}</a></li>
      </ul>     
    </div>
    <div class="col-xs-6 col-md-9"> 
      <div ng-repeat="content in cvContent" ng-show="content.active == true">
        <p ng-show="content.type == 'text'" ng-repeat="paragraph in content.data">
          {{ paragraph.par }}
        </p>
        <div ng-show="content.type == 'list'" ng-repeat="elem in content.data">
          <h3>{{ elem.title }}</h3>
          <p>{{ elem.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>